{%- assign social = site.social_links -%}

<div class="social-links">
{%- if social.facebook -%}<a href="https://www.facebook.com/{{ social.facebook | cgi_escape | escape }}" title="{{ social.facebook | escape }}"><i class="fab fa-facebook"></i></a>{%- endif -%}
{%- if social.github -%}<a href="https://github.com/{{ social.github | cgi_escape | escape }}" title="{{ social.github | escape }}"><i class="fab fa-github"></i></a>{%- endif -%}
{%- if social.twitter -%}<a href="https://twitter.com/{{ social.twitter | cgi_escape | escape }}" title="{{ social.twitter | escape }}"><i class="fab fa-twitter"></i></a>{%- endif -%}
{%- if social.youtube -%}<a href="https://www.youtube.com/user/{{ social.youtube | cgi_escape | escape }}" title="{{ social.youtube | escape }}"><i class="fab fa-youtube"></i></a>{%- endif -%}
</div>
